.wrapper {
    width: 100%;
    max-height: min(-156px + 100vh, 734px);
    padding-top: 8px;
    border-radius: 8px;
    min-height: 100px;
    background: rgb(37, 37, 37);
    overflow: auto;

    // customize scroll

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background: #363636;
        border-radius: 10px;
    }
}
