.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar {
    position: relative;
    width: var(--default-layout-sidebar-width);
    height: 100%;
    padding-left: 8px;
}

.container {
    margin-top: var(--default-layout-header-height);
    width: var(--default-layout-width);
    max-width: 100%;
    display: flex;
    background-color: #121212;
}

.content {
    flex: 1;
}
